


<script src="https://code.jquery.com/jquery-1.10.0.min.js"
        integrity="sha256-2+LznWeWgL7AJ1ciaIG5rFP7GKemzzl+K75tRyTByOE="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#nappi").click(function () {
            $("#Viestii").modal('show');
        })
        
    });
</script>

@*<script>
    $(function () {
        $("#Viestii").modal('show');
    });
</script>*@

<div class="modal fade" id="Viestii">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Haluatko varmasti antaa tälle käyttäjälle pääkäyttäjä oikeudet?</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

        </div>
    </div>
</div>
